.player-detail {
    .player-card {
        &__header {
            justify-content: center;

            .player-avatar-image {
                background-image: url('app/assets/ping-pong-ball.png');
                background-size: cover;
            }
        }

        &__content {
            text-align: center;
        }

        &__actions {
            text-align: center;
        }
    }
}