.player-detail {
    .player-card {
        &__header {
            justify-content: center;

            .player-avatar-image {
                background-image: url('app/assets/ping-pong-ball.png');
                background-size: cover;
            }
        }

        &__content {
            text-align: center;

            .match-history {
                &__player-name {
                    flex-basis: 20%;
                }

                &__progress-bar {
                    flex-basis: 60%;
                }
            }
        }

        &__actions {
            text-align: center;
        }
    }
}