<div class="player-detail" *ngIf="player">
    <md-card class="player-card">
        <md-card-header class="player-card__header">
            <div md-card-avatar class="player-avatar-image" [ngStyle]="{ 'background-image': 'url(' + player.avatar + ')'}"></div>
            <md-card-title>{{player.firstName}} {{player.lastName}}</md-card-title>
            <md-card-subtitle>Ranking: {{player.ranking}}</md-card-subtitle>
        </md-card-header>
        <md-card-content class="player-card__content">
            <div class="player-card__content--static">
                <md-list class="match-history">
                    <h3 md-subheader>Match History</h3>
                    <div class="match-history__content">
                        <div class="match-history__item-wrapper" *ngFor="let match of matches; let i = index">
                            <md-list-item class="match-history__displayed-item">
                                <button md-button (click)="editMatch(i)" class="match-history__button-group">
                                    <div class="match-history__button-wrapper">
                                        <div class="match-history__player-name">
                                            <span>{{match.playerOne.firstName}} {{match.playerOne.lastName}} ({{match.playerOnePoints}})</span>
                                        </div>
                                        <div class="match-history__progress-bar">
                                            <md-progress-bar
                                                color="primary"
                                                mode="determinate"
                                                [value]="this.pointsCalculator(match.playerOnePoints, match.playerTwoPoints)" >
                                            </md-progress-bar>
                                        </div>
                                        <div class="match-history__player-name">
                                            <span>{{match.playerTwo.firstName}} {{match.playerTwo.lastName}} ({{match.playerTwoPoints}})</span>
                                        </div>
                                    </div>
                                </button>          
                            </md-list-item>
                            <md-list-item class="match-history__edit-item" *ngIf="isEditingMatch[i]">
                                <div>
                                    <label>Player One Points: </label>
                                    <input [(ngModel)]="match.playerOnePoints"/>
                                </div>
                                <div>
                                    <label>Player Two Points: </label>
                                    <input [(ngModel)]="match.playerTwoPoints"/>
                                </div>
                                <button md-button (click)="saveMatch(i)">SAVE</button>
                            </md-list-item>
                        </div>
                    </div>
                </md-list>
            </div>
            <div class="player-card__content--edit" *ngIf="isEditing">
                <div>
                    <label>First Name: </label>
                    <input [(ngModel)]="player.firstName" placeholder="First Name"/>
                </div>
                <div>
                    <label>Last Name: </label>
                    <input [(ngModel)]="player.lastName" placeholder="Last Name"/>
                </div>
                <div>
                    <label>ranking: </label>
                    <input [(ngModel)]="player.ranking" placeholder="ranking"/>
                </div>
            </div>
        </md-card-content>
        <md-card-actions class="player-card__actions">
            <button md-button *ngIf="!isEditing" (click)="editPlayer()">EDIT</button>
            <button md-button *ngIf="isEditing" (click)="save()">SAVE</button>
            <button md-button (click)="goBack()">BACK</button>
        </md-card-actions>
    </md-card>
</div>